a {
	cursor: pointer;
}

header{
	background-color: #ff451a;
	height: 300px;
	padding-right:  50px;
	padding-left:  50px;
}
header img{
    width: 17rem;
}
header h1 {
	/* background-image: url('../images/reddit-header.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right; */
	padding: 10px 20px;
	margin: 0;
	display: inherit;
	font-size: 3rem;
}

.header-wrapper, .container-fluid {
	width:90%;
	max-width: 1400px;
	margin: 0 auto;
	padding: 0;
}

.form-control {
    background: #fff;
    box-shadow: 0 1rem 3rem rgb(0 0 0 / 18%);
    border: 1px solid #fff;
    border-radius: 1rem;
    padding: 1rem 2rem 1.3rem 2rem;
    height: 100px;
    width: 500px;
	margin-top: -50px;
	font-size: 20px;
	transition: all 0.2s ease, border 1ms ease;
	letter-spacing: 0.1rem;
    font-weight: 500;
}

input.form-control:hover{
    background: #fff;
    will-change: transform;
    transform: scale(1.03);
    border: solid 1px transparent;
    outline: 0 !important;
    color: #1e1e1e;
	font-size: 30px;
}

.form-control::-webkit-input-placeholder {
	color: black;
}

main .form-group form button{
	display: none;
}

@media only screen and (max-width: 1000px) {
	header{
		padding-right:  20px;
		padding-left:  20px;
	}
	header h1 {
	 font-size:  1.8rem;
	}
	.form-control{
		width: 100%;
	}
	.form-group.d-flex.mb-3{
		justify-content: center;
	}
	main .form-group form {
		display: flex;
		flex-direction: column;
	}
	button.btn.btn-primary.mb-2 {
		margin-top: 20px;
	}
}

@media only screen and (max-width: 720px) {
	main .form-group form button{
		display: block;
	}
}